.weapon-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    width: 80px;
    height: 80px;
    margin: 5px;
    font-family: 'Girassol', cursive;
    border-radius: 5px;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}

.weapon-card:hover {
    cursor: pointer;
    background-color: rgb(253, 161, 161);
    transition: 0.15s;
}

.weapon-card:active {
    background-color: rgb(255, 77, 77);
    transition: 0.15s;
}

.weapon-card:not( :hover ){ 
    transition: 0.15s;   
 }

 .murderPick {
    background-color: red;
}
.turnGreen{
    background-color: seagreen;
}