.game-container {
    display: flex;
    flex-direction:column;
    margin: 50px auto 0 auto;
    width: 80%;
}

.game-top-row {
    display: flex;
    flex-direction: column;
}

.game-player-cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

.player-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weapon-cards-container {
    display: flex;
}

.evidence-cards-container {
    display: flex;
}