.modal-background {
  position: absolute;
  transform: translate(-0%, -0%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
}


.modal-child {
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #292929;
  border: 1px solid #444;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-child > h1 {
    color: white;
    font-family: 'Girassol', cursive;
    font-size: 50px;
}