.demo-title {
    color: white;
}

.weapon-selected {
    background-color: rgb(255, 77, 77);
}

.weapon-selected:hover {
    background-color: rgb(255, 77, 77);
}

.evidence-selected {
    background-color: rgb(27, 192, 12);
}

.evidence-selected:hover {
    background-color: rgb(27, 192, 12);
}

.disable-click {
    pointer-events: none;
}

.event-selected {
    background-color: rgb(18, 51, 235);
}

.event-selected:hover {
    background-color: rgb(18, 51, 235);
}

.demo-game-over {
    text-align: center;
    font-size: 100px;
    color: red;
    position: relative;
    top: 80px;
}

.demo-test {
    color: white;
}

.demo-victory {
    text-align: center;
    font-size: 100px;
    color: white;
    position: relative;
    top: 80px;
}

.instructions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    top: 30px;
    right: 30px;
    background-color: green;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.instructions:hover {
    background-color: rgb(3, 97, 3);
    cursor: pointer;
    transition: 0.25s;
}

.instructions:not( :hover ) {
    transition: 0.25s;
}

.instructions-dropdown {
    display: none;
    position: absolute;
    right: 30px;
    top: 85px;
    width: 400px;
    height: 620px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}

.instructions:hover + .instructions-dropdown {
    display: block;
}

.instructions-text {
    font-family: 'Gentium Book Basic', cursive;
    font-size: 20px;
    line-height: 1.25;
}

.murderfont {
    color: red;
}

.scientist {
    color: rgb(24, 98, 150);
}

.investigator {
    color: rgb(15, 144, 15);
}

#instructions-note {
    font-weight: 700;
}

.game-redirect-home {
    font-family: 'Girassol', cursive;
}

.demo-game-over {
    font-family: 'Girassol', cursive;
}

.demo-victory {
    font-family: 'Girassol', cursive;
}