.evidence-card {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80px;
    height: 80px;
    margin: 5px;
    font-family: 'Girassol', cursive;
    border-radius: 5px;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}

.evidence-card:hover {
    cursor: pointer;
    background-color: rgb(184, 255, 184);
    transition: 0.25s;  
}

.evidence-card:active {
    background-color: rgb(27, 192, 12);
    transition: 0.15s;
}

.evidence-card:not( :hover ){ 
    transition: 0.25s;   
 }

 .murderPick {
    background-color: red;
}
.turnGreen{
    background-color: seagreen;
}